* {
  margin: 0;
  padding: 0;
}


.oswald-normal {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 800,
  'GRAD' 0,
  'opsz' 24
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px 150px;
    max-width: 1140px;
   
    
}
.web-name{
    color: #4E47FF;
    font-weight: 800;
}
.btn-primary{
    background-color: #4E47FF;
    color: #FFFFFF;
    font-size: 10px;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
}
.header-bg{
    background-image: url(../images/Hero-bg.png);
   
}
header {
  margin-top: 0;
}
.banner-tagline{
    color:#252432 ;
    font-size: 60px;
    text-align: center;
}
.banner{
   margin: 60px 300px;
}
.banner-btn{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 37px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.action{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px;

}
.action-image{
    border-radius: 50px;
    width: 403px;
    height: 328px;
}

.action-title{
    color: #252432;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    
}
.action-description{
    color: #808080;
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 20px;
    
}

.productive-user{
    background-color: #d3d3f2;
    height: 100px;
    border-radius: 20px;
    margin: 50px 150px;
    padding: 50px;
    
}
.user-description{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}
.user-stat{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.user-info{
    text-align: center;
    color:#808080;
    font-size: 13px;
    
}
.title{
    color: #4E47FF;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}
.form-description label{
    display: block;
    margin-top:10px;
    width: 100%;

}
.form-description input{
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;

}
.touch-form{
    margin-left:160px;
    padding-left: 160px;
}

.touch{
    display: flex;
    margin-left: 30px;
    align-items: center;
    justify-content: flex-start;
}
.touch-button{
    display: block;
    justify-items:space-between;
    align-items: center;
    width: 100%;
}
.touch-theme{
    font-weight: bold;
    font-size: 70px;
}
.touch-info{
      margin-left: 65px;
      padding-left: 50px;
}
footer{
    margin-top: 130px;
}
.footer-title{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: #4E47FF;
}
.footer-description{
    text-align: center;
    font-size: 15px;
    font-weight: 300;}

footer ul li{
    list-style: none;
    margin-right: 50px;
}

footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer a{
    text-decoration: none;
    color:#808080;
    font-size: 15px;
    font-weight: 300;
}
.footer-content{
    padding: 10px;
}